<div class="container" style="word-wrap: break-word;text-align: center;">
    <h4 class="center">
        <img class='responsive-img' src="../assets/movie.png"/>
        <p> <span class="center" style="font-weight: bold">Skip the Sequel</span> <br/>is a simple website to track movies you have seen.</p>
    </h4>
</div>
<div class="container">
    <div class="fixed-action-btn floatingButton" >
        <a class="btn-floating btn-large waves-effect waves-light #ee6e73 right" ui-sref="movies" title="Add movies to Watched list"><i class="material-icons">add</i></a>
    </div>
</div>
        