<div class="container">
    <form>
        <div class="input-field col m4 center">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
</div>
<div class="row" ng-show="movies.length">
    <div class="movie-container col s12 m8 l3" ng-repeat='movie in movies'>
        <div class=" card medium">
            <div class="card-image">
                <a ng-href="http://www.imdb.com/title/{{movie.imdb.id}}" target="_blank">
                    <img class="thumbnail" ng-src="{{movie.poster}}"/>
                </a>
            </div>
            <div class="card-content">
                <h5 class="title activator grey-text text-darken-4 truncate" title="{{movie.title}}"><a ng-href="http://www.imdb.com/title/{{movie.imdb.id}}" target="_blank">{{movie.title}}</a> </h5>
                <h5 class="title right" title="Year of release">{{movie.year}}</h5>
                <p class="left" title="imdb rating: {{movie.imdb.rating}}">
                    <i class="tiny material-icons">grade</i>{{movie.imdb.rating}}
                </p>
                <br/><br/>
            </div>
            <div class="card-action">
                <a ng-click="markAsSeen(movie)" ng-hide="movie.seen" style="cursor: pointer">Mark as seen</a>
                <a ng-click="removeFromWatchedList(movie)"ng-show="movie.seen" style="cursor: pointer">Remove from watched list</a>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="left btn-floating btn-large waves-effect waves-light #26a69a" ng-href="/movies/page/{{pageNum | previousPage}}" ng-class="{'disabled':!pageNum}">Prev</a>
        &nbsp;&nbsp;
        <a class="right btn-floating btn-large waves-effect waves-light #26a69a" ng-href="/movies/page/{{pageNum | nextPage}}">Next</a>
    </div>
</div>
<div ng-hide="movies.length">
    <p> No movies found, feel free to add some! </p>
</div>