<div class="row" ng-show="movies.length">
    <div class="movie-container col s12 m6 l3" ng-repeat='movie in movies'>
        <div class=" card medium">
            <div class="card-image waves-effect">
                <a class="activator" ng-href="http://www.imdb.com/title/{{movie.imdb.id}}" target="_blank">
                    <img class="thumbnail responsive-img activator" ng-src="{{movie.poster}}"/>
                </a>
            </div>
            <div class="card-content">
                <h5 class="title activator grey-text text-darken-4 truncate" title="{{movie.title}}">{{movie.title}} </h5>
                <div class="divider"></div>
                <br/>
                <h5 class="title right">{{movie.year}}</h5>
                <p class="left">
                    <i class="tiny material-icons">grade</i>
                    {{movie.imdb.rating}}</p><br/><br/>
                <p class="right"><a ng-href="http://www.imdb.com/title/{{movie.imdb.id}}" target="_blank">IMDB</a></p>
                <div class="markAsSeen left" title="{{movie.seen == true ? 'You\'ve watched this movie':'Mark this movie as seen'}}">
                    <i class="small material-icons" ng-class="{'seen':movie.seen}">visibility</i>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                <p>{{movie.plot}}</p>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="left btn-floating btn-large waves-effect waves-light #26a69a" ng-href="/movies/page/{{pageNum | previousPage}}" ng-class="{'disabled':!pageNum}">Prev</a>
        &nbsp;&nbsp;
        <a class="right btn-floating btn-large waves-effect waves-light #26a69a" ng-href="/movies/page/{{pageNum | nextPage}}">Next</a>
    </div>
</div>
<div ng-hide="movies.length">
    <p> No movies found </p>
</div>