.thumbnail{
    display: block;
    max-width: 100% !important;
    max-height: 100% !important;
}
.title{
    line-height: 1.1;
    font-size: 15px;
    margin-top: 2px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.movie-thumb {
    height: 400px;
}
.movie-thumb h5 {
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
.markAsSeen{
    cursor: pointer;
    color: #ee6e73;
}
.seen{
    color: cornflowerblue;
}
.onMouseHover:hover{
    opacity: 0.2;
    filter: alpha(opacity=40);
}
.floatingButton{
    bottom: 45px; 
    right: 24px;
}
.centerBox {
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    /*margin-bottom: 30px;*/
    color: inherit;
}
body {
    background-color: #D5E4D8;
 }
a{
    color: #136a8a;
    cursor: pointer
}
a .notWatched { display: none; }
a:hover .notWatched { display: inline;}
a:hover .watched { display: none; }
